span.magnet {
	background: transparent no-repeat 5px center;
}

a.magnet {
	opacity: 0.5;
	transition: opacity 300ms;
}

span.m {
	padding: 0 12px;
	/*float: right;*/
}

div.tv-show {
	display: inline-block;
	font-weight: bold;
	width: 50px;
	padding-right: 10px;
	color: #0d3349;
}
.results > div.torrent:hover {
	background-color: #ffed81;
}